# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
*.swp
*~
log.*
*.rpm
*.dump
*.gz
*.bz2

__assembly__
a_add_b
a_add_b1
aa
access
add
addr
align
alloca
always-inline
ancestor
asm
asm_and_constraint
atomic_dec_and_locak
auto_ptr
auto_ptr_ref
autovariabe
b
bool
boost_thread
bsearch
bsf
builtin-gcc
cast
cin_test
clone
clone1
const_hash
constexpr
constr
container/clone
container/clone_uts
convertion_operator
convertion_operator2
copy_construct
coredump/err
cplusplus/base
cplusplus/copy-constr
cplusplus/derived
cplusplus/dynamic_cast
cplusplus/hash
cplusplus/hash_map
cplusplus/inheritance
cplusplus/initializtion-list
cplusplus/lconfig
cplusplus/lconfig3
cplusplus/lconfig5
cplusplus/locate_new_delete
cplusplus/map
cplusplus/member-pointer
cplusplus/merge_sort
cplusplus/namespace
cplusplus/null-class
cplusplus/objslicing
cplusplus/overload
cplusplus/partial-specialization
cplusplus/preprocessor
cplusplus/pure_virtual
cplusplus/reference
cplusplus/ret_type
cplusplus/screen-constrol
cplusplus/stl_macro
cplusplus/vector
cplusplus/virtual-table
cpp11/auto
cpp11/lambda
cpp11/unique_ptr
daemon
dec_test
define
dlopen
dlsym
do_while
dynamic_cast
enum
epoll_EPOLLHUP
err-open
ex_table
exami/a-plus
exami/check_bracket
exami/mallocfree
exami/mallocfree1
exami/shiftk
exami/sizeof
exami/strcat
execve
ext2_super
fbtest
fn
for
fork
fork-real
fork2
fork3
fsin
function_template
gcd
get_opt_long
getaddrinfo
getenv
getenv-simple
gethostbyaddr
gethostbyname
gethostbyname_r
getnameinfo
getservbyname
getservbyport
gettimeofday
hahaha
heap-direction
helloworld
helloworld1
ifelse
ifstream
inherit
inherit2
inherit3
inherit4
init
ioctl
ja
java/Cow/class/
java/Cow/cow.jar
largestNumber
linear_inter
link_map
list_erease
list_rbegin_rend
local_static
lower_bound
macro
macro-cpp
macro-cpp2
malloc
matrix_search
mbr
mem_leak
mktime
mmap
mmap_ano
mod
most_vexing_parse
mtrace
mul
multithread/helper/bps/
my-coroutine
my_reference_wrapper
myset
named_return_value
namespace
network/client
network/server
network/socket
no-reentrant
nullptr
offsetof
ofstream
open
openmp/num-threads
openmp/para-for
openmp/para-for-private
operator_overwrite
overload-new
override_final
pi
pid-namespace
point3d
point_to_class_member
pread
print-color
print_speed
printf
pselect
pthread_create
ptrsizetest
radix-tree/main
rdtsc
readplt
refeence
reference_wrapper
reinterpret
relocation/main
return_value_op
rwlock
scanf
segreg
select_parent
set-root-uid
shadow-stack/call-noret
shadow-stack/nocall-ret
shadow-stack/nocall-ret2
shared_ptr
shared_ptr2
shared_ptr3
shmget
sigignore
sigint
signal/callee
signal/caller
signal/handler-segv
signal/handler-sync
signal/nested-signal
signal/nested-signal2
signal/sig-blocked-temporarily
signal/sigUSR1
signal/siggetmask
signal/sigint
signal/signal
signal/sigpromask
signal/siqueue
signal/test
sin
sincos
sizeof
sizeof1
sizeof2
sizeofXYZA
socket
special-func
stack-extend
static-inherite
static-variable
static_cast
std_sort
string_cow
strncmp
strstream
strstream_float
strtod
strtok_r
stru_init
stru_init_cpp
struct
switch-continue
tail-call
template_friend2
template_function
tencent/const
tencent/const_c
test
test_coroutine1
test_libev
test_map
test_map_2
test_map_set
test_memcpy
test_pipe
test_rvalue
test_set
test_string
test_strtoul
test_ucontext
test_unordered_map
test_utimes
test_vector
ticket_spin_lock
time_hour
tls
typeid
typeof
uin_list
union
unix
unordered_map_erase
unordered_map_inc
unsiged
va-arg
vfork
virtual-base-class/point
virtual-func
virtual-func-2
virtual-func-3
virtual_base_class
virtual_base_class2
virtual_base_class3
waitpid
weakref
xy2key
kevent
numeric_limits
page_size
